@media screen and (min-width:200px){
  #result{
    position: absolute;
    top: 60%;
    left:0%;
    width:80%;
    display:inline;
}
.logo{
  display: none;
}
forms{
  position: absolute;
  top:30%;
}
forms:hover,
forms:valid{
    width: 90%;
    cursor: pointer;
}
.navBtn{
  font-size: 15px;
}
}

@media screen and (min-width: 400px) {
    #result{
        position: absolute;
        top: 60%;
        left:15%;
        width:60%;
        display:inline;
    }

    forms:hover,
    forms:valid{
    width: 80%;
    cursor: pointer;
    }
    forms{
      position: absolute;
      top:30%;
    }

  }

  @media screen and (min-width:500px){
    #result{
        position: absolute;
        top: 60%;
        left:30%;
        width:37%;
        display:inline;
    }
    .logo{
      display: block;
    }
    forms{
      position: absolute;
      top:55%;
    }
  }
    